@model Inventory_Asp_Core_MVC_Ajax.Models.Classes.SupplierModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Supplier" asp-action="AddOrEditSupplier"
              onsubmit="return jQueryAjaxPostToAddOrEditSupplier(this);" autocomplete="off" id="id-sup-the-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" type="text" class="form-control" id="txtName">
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                    <div id="divOutPut"></div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ContactName" class="control-label"></label>
                    <input asp-for="ContactName" type="text" class="form-control">
                    <span asp-validation-for="ContactName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EmergencyMobile" class="control-label"></label>
                    <input asp-for="EmergencyMobile" type="text" class="form-control">
                    <span asp-validation-for="EmergencyMobile" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" type="text" class="form-control">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Enabled" class="control-label">Status</label>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="radio" asp-for="Enabled" id="active" value="true">
                            <label for="active">Active</label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="radio" asp-for="Enabled" id="deactive" value="false">
                            <label for="deactive">Deactive</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" type="text" class="form-control">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" type="text" class="form-control">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Address" class="control-label"></label>
                    <textarea asp-for="Address" class="form-control" rows="2"> </textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="HomePage" class="control-label"></label>
                    <input asp-for="HomePage" type="text" class="form-control">
                    <span asp-validation-for="HomePage" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary text-white btn-lg btn-block" />
            </div>
            <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        </form>
    </div>
</div>


<script>
    function delay(callback, ms) {
        var timer = 0;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    $(document).ready(function () {
        $('#txtName').keyup(delay(function () {
            var name = $(this).val();
            var divElement = $('#divOutPut');
            if (name.length == 0) {
                divElement.text('');
            }
            if (name.length >= 3) {
                $.ajax({
                    type: 'Post',
                    url: '/supplier/IsNameAvailable',
                    data: { 'name': name },
                    success: function (response) {
                        if (response) {
                            divElement.text('Available');
                            divElement.css('color', 'green');
                        } else {
                            divElement.text('Not Available');
                            divElement.css('color', 'red');
                        }
                    },
                    error: function (e) {
                        alert(e)
                    }
                });
            }

        }, 1500));
    });
</script>