@model Inventory_Asp_Core_MVC_Ajax.Models.Classes.SupplierFilterModel
@{
    ViewData["Title"] = "Supplier";
    var searchPlaceHolder = Model.SearchQuery == null ? "Search..." : @Model.SearchQuery;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2 class="text-center"><i class="fas fa-comments-dollar text-success"></i>Supplier Table</h2>
        </div>
        <div class="col-4">
            <form class="form-inline my-2 my-lg-0" method="get" asp-controller="Supplier" asp-action="Suppliers">
                <input type="hidden" />
                <input class="form-control mr-sm-2 form-control-sm" type="search" placeholder=@searchPlaceHolder
                       aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Search</button>
            </form>
        </div>
        <div class="col-1">
            <a asp-controller="Supplier" asp-action="Suppliers"
               class="btn btn-outline-secondary my-2 my-sm-0 btn-sm">Clear</a>
        </div>
    </div>
    <br />
    <div id="view-all-suppliers">
        @await Html.PartialAsync("_Suppliers", Model)
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="supplier-form-modal" tabindex="-1" 
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
