@model Inventory_Asp_Core_MVC_Ajax.Core.Classes.StorageModel
@{
    Layout = null;   // to remove header and footer from modal
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Storage" asp-action="AddOrEditStorage"
              onsubmit="return jQueryAjaxPostToAddOrEditStorage(this);" autocomplete="off" id="formRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" type="text" class="form-control" id="txtName">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div id="divOutPut"></div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" type="text" class="form-control">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Enabled" class="control-label">وضعیت</label>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="radio" asp-for="Enabled" id="active" value="true">
                            <label for="active">فعال</label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="radio" asp-for="Enabled" id="deactive" value="false">
                            <label for="deactive">غیر فعال</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="submit" value="تایید" class="btn btn-primary text-white btn-lg btn-block" />
                    </div>
                    <div class="form-group col-md-6">
                        <input type="submit" value="انصراف" class="btn btn-secondary text-white btn-lg btn-block" data-dismiss="modal" />
                    </div>
                </div>
            </div>
            <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        </form>
    </div>
</div>

<script>
    function delay(callback, ms) {
        var timer = 0;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    $(document).ready(function () {
        $('#txtName').keyup(delay(function () {
            var name = $(this).val();
            var divElement = $('#divOutPut');
            if (name.length == 0) {
                divElement.text('');
            }
            if (name.length >= 3) {
                $.ajax({
                    type: 'Post',
                    url: '/storage/IsNameAvailable',
                    data: { 'name': name },
                    success: function (response) {
                        if (response) {
                            divElement.text('Available');
                            divElement.css('color', 'green');
                        } else {
                            divElement.text('Not Available');
                            divElement.css('color', 'red');
                        }
                    },
                    error: function (e) {
                        alert(e)
                    }
                });
            }

        }, 1500));
    });
</script>
