@model Inventory_Asp_Core_MVC_Ajax.Models.Classes.StorageModel
@{
    // to remove header and footer from modal
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Storage" asp-action="AddOrEditStorage" asp-route-id="@Model.Id" 
              onsubmit="return jQueryAjaxPostToAddOrEditStorage(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-6" >
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" type="text" class="form-control">
                    <span asp-validation-for="Name" class="text-danger" id="lblStatus"></span>
                  
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phone" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">#</div>
                        </div>
                        <input asp-for="Phone" type="text" class="form-control">
                    </div>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success text-white btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<script type="text/javascript">
    function CheckNameAvailability() {
        var username = $("#txtName").val();
        $.ajax({
            type: "POST",
            url: "/Storage/CheckName",
            data: '{name: "' + name + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var message = $("#message");
                if (response) {
                    //Email available.
                    message.css("color", "green");
                    message.html("Email is available");
                }
                else {
                    //Email not available.
                    message.css("color", "red");
                    message.html("Email is NOT available");
                }
            }
        });
    };

    function ClearMessage() {
        $("#message").html("");
    };
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $('#Name').on('change', function () {
            var Name = $("#Name").val();
            $.ajax({
                type: "GET",
                url: "Storage/CheckName?name=" + Name,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                }
            });
        });
    });
    //function OnSuccess
    function OnSuccess(response) {
        var msg = $("#lblStatus");
        switch (response) {
            case "true":
                msg.show();
                msg.css("color","red");
                msg.html("Name already exists.");
                break;
            case "false":
                msg.show();
                msg.css("color","green");
                msg.html("Name Available");
                break;
        }
    }

</script>