@model Inventory_Asp_Core_MVC_Ajax.Core.Classes.ProductReportModel

@{
    ViewData["Title"] = "Report";
}
<div class="row">
    <div class="col-md-12">
            <form  method="post" id="form-product-report">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label class="control-label">تعداد:</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input asp-for="MinQuantity" type="number" class="form-control">
                        <span asp-validation-for="MinQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-5">
                        <input asp-for="MaxQuantity" type="number" class="form-control">
                        <span asp-validation-for="MaxQuantity" class="text-danger"></span>
                    </div>
                </div>
                </br>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label class="control-label">قیمت:</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input asp-for="MinPrice" type="number" class="form-control">
                        <span asp-validation-for="MinPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-5">
                        <input asp-for="MaxPrice" type="number" class="form-control">
                        <span asp-validation-for="MaxPrice" class="text-danger"></span>
                    </div>
                </div>
                </br>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="Enabled" class="control-label">وضعیت:</label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="radio" asp-for="Enabled" id="active" value="true">
                        <label for="active">فعال</label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="radio" asp-for="Enabled" id="deactive" value="false">
                        <label for="deactive">غیرفعال</label>
                    </div>
                </div>
                </br>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="control-label">دسته بندی</label>
                        <select id="CategorySelectList" asp-for="CategoryId" class="form-control">
                            <option value="@Model.CategoryId"> --- انتخاب دسته بندی ---</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">انبار</label>
                        <select id="StorageSelectList" asp-for="StorageId" class="form-control">
                            <option value="@Model.StorageId"> --- انتخاب انبار ---</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">تامیین کننده</label>
                        <select id="SupplierSelectList" asp-for="SupplierId" class="form-control">
                            <option value="@Model.SupplierId"> --- انتخاب تامیین کننده ---</option>
                        </select>
                    </div>
                </div>
                </br>
                </br>
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input asp-controller="product" asp-action="pdf"
                                   type="submit" value="Pdf"
                                   class="btn btn-primary text-white btn-lg btn-block" />
                        </div>
                        <div class="form-group col-md-4">
                            <input asp-controller="product" asp-action="excel" 
                                   type="submit" value="Excel"
                                   class="btn btn-primary text-white btn-lg btn-block" />
                        </div>
                        <div class="form-group col-md-4">
                            <input asp-controller="product" asp-action="csv"
                                   type="submit" value="Csv"
                                   class="btn btn-primary text-white btn-lg btn-block" />
                        </div>
                    </div>
                </div>
            </form>
</div>
</div>


<script>
    //$('#csv-input').on('click', function () {
    //    $('#form-product-report').attr('controller', 'product');
    //    $('#form-product-report').attr('action', 'csv');
    //});

    //$('#pdf-input').on('click', function () {
    //    $('#form-product-report').attr('controller', 'product');
    //    $('#form-product-report').attr('action', 'pdf');
    //});

    //$('#excel-input').on('click', function () {
    //    $('#form-product-report').attr('controller', 'product');
    //    $('#form-product-report').attr('action', 'excel');
    //});

    $(document).ready(function () {
        $.ajax({
            type: 'Get',
            url: '/category/list-name',
            contentType: 'application/json',
            success: function (response) {
                $(response).each(function (index, item) {
                    $('#CategorySelectList').append($('<option/>', { value: item.id, text: item.name }));
                });
            }
        })

        $.ajax({
            type: 'Get',
            url: '/storage/list-name',
            contentType: 'application/json',
            success: function (response) {
                $(response).each(function (index, item) {
                    $('#StorageSelectList').append($('<option/>', { value: item.id, text: item.name }));
                });
            }
        })

        $.ajax({
            type: 'Get',
            url: '/supplier/list-name',
            contentType: 'application/json',
            success: function (response) {
                $(response).each(function (index, item) {
                    $('#SupplierSelectList').append($('<option/>', { value: item.id, text: item.companyName }));
                });
            }
        })
    });
</script>

