@model Inventory_Asp_Core_MVC_Ajax.Models.Classes.ImageModel
@{
    ViewData["Title"] = "Delete";
}

<h4>Delete Image</h4>
<hr />

<dv>
    <div class="form-row">
        <div class="form-group col-md-6">
            <b>Image  @Html.DisplayNameFor(Model => Model.Title) : </b> @Html.DisplayFor(modelItem => modelItem.Title)
        </div>
        <div class="form-group col-md-6">
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Data))" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</dv>
<br />
<br />
<hr />
<form asp-controller="Image" asp-action="DeleteImage" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ProductId" />
    <input type="submit" value="Delete" class="btn btn-danger btn-lg btn-block" />
</form>
<br />
<br />
<div>
    <a asp-controller="Image" asp-action="ProductImages" asp-route-productId=@Model.ProductId class="btn btn-primary btn-lg btn-block">Back to Product Details</a>
</div>
