@model Inventory_Asp_Core_MVC_Ajax.Core.Classes.CategoryModel
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="category" asp-action="AddOrEditCategory"
              onsubmit="return jQueryAjaxPostToAddOrEditCategory(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" type="text" class="form-control" id="txtName">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div id="divOutPut"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"> </textarea>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary text-white btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>

<script>
    function delay(callback, ms) {
        var timer = 0;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }

    $(document).ready(function () {
        $('#txtName').keyup(delay(function () {
            var name = $(this).val();
            var divElement = $('#divOutPut');
            if (name.length == 0) {
                divElement.text('');
            }
            if (name.length >= 3) {
                $.ajax({
                    type: 'Post',
                    url: '/category/IsNameAvailable',
                    data: { 'name': name },
                    success: function (response) {
                        if (response) {
                            divElement.text('Available');
                            divElement.css('color', 'green');
                        } else {
                            divElement.text('Not Available');
                            divElement.css('color', 'red');
                        }
                    },
                    error: function (e) {
                        alert(e)
                    }
                });
            }

        }, 1500));
    });
</script>
